---
layout: default
title: Release Notes
---
<nav class="container-fluid" aria-label="breadcrumb">
	<div class="breadcrumb row">
			<ol class="breadcrumb p-0 mb-0">
				<li class="breadcrumb-item"><a href="{{ "/" | prepend: site.baseurl}}">{{ site.name }}</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
			</ol>
	</div>
</nav>

<div class="container my-4">
	<h1 class="mainhead">
		<span>openSUSE Release Notes</span>
		<span>
			<a href="https://l10n.opensuse.org/engage/release-notes-opensuse/?utm_source=widget">
				<img src="https://l10n.opensuse.org/widgets/release-notes-opensuse/-/status-badge.png" alt="translation status" />
			</a>
		</span>
	</h1>

	<table class="table table-striped">
		{% for category in site.data.release-notes %}
		<h5>Release notes for {{ category.category }} distribution versions:</h5>
		<ul>
			{% for item in category.items %}
			<li>
				
				<a href="{{item.link}}">{{item.name}}</a> {% if item.note %}<span class="text-muted">({{item.note}})</span>{% endif %}
				
			</li>
			{% endfor %}
		</ul>
		{% endfor %}
	</table>
</div>
