<section id="leap-{{leap.version | replace: '.', '' }}" class="py-5">
  <div class="container">
    <h2>openSUSE Leap {{ leap.version }}</h2>

    <div class="row">
      {% for doc in leap.docs %}
      <div class="col-sm-6 col-md-4">
        <div class="card doc-card mb-3">
          <img class="card-img" src="{{ doc.cover | default: '/assets/images/cover-startup.svg' }}">
          <div class="card-img-overlay">
            <h5 class="card-title">
              {{ locale[doc.id] | default: doc.id }}
            </h5>
            <div>
              {% if doc.html %}
              <a class="card-link" href="{{ doc.html }}">
                HTML
              </a>
              {% endif %}
              {% if doc.single_html %}
              <a class="card-link" href="{{ doc.single_html }}">
                Single HTML
              </a>
              {% endif %}
              {% if doc.pdf %}
              <a class="card-link" href="{{ doc.pdf }}">
                PDF
              </a>
              {% endif %}
              {% if doc.epub %}
              <a class="card-link" href="{{ doc.epub }}">
                EPUB
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
