<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
	CAUTION: this index.html is generated
	from  main.html.template, index.html.content
	hosted at https://github.com/openSUSE/doc.o.o
	EDIT there, then run: make all.
	-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link rel="stylesheet" href="chameleon/css/app.css" type="text/css" media="screen" title="All" charset="utf-8" />
		<script src="chameleon/js/app.js" type="text/javascript" charset="utf-8"></script>
		<link rel="icon" type="image/png" href="https://static.opensuse.org/themes/bento/images/favicon.png" />
		<title><%TITLE%></title>
		<meta name="description" content="This site hosts documentation for openSUSE and SLES/SLED related products as well as projects.  The user manuals and technical documentation that is published here is generated and static content. To contribute documentation please use the openSUSE Wiki."/>
	</head>
	<body>
		<!-- Start: Header -->
		<nav id="global-navbar" class="navbar navbar-expand-sm navbar-dark bg-dark">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="https://www.opensuse.org/">
			<img src="https://www.opensuse.org/build/images/opensuse-logo.png" width="48" height="30" class="d-inline-block align-top" alt="openSUSE Logo">
			</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" lang="en" href="https://software.opensuse.org/">Download</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" lang="en" href="https://software.opensuse.org/search">Software</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" lang="en" href="https://doc.opensuse.org/">Guides</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" lang="en" href="https://en.opensuse.org/">Wiki</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" lang="en" href="https://forums.opensuse.org/">Forums</a>
					</li>
				</ul>
			</div>
		</nav>
		<!-- End: Header -->
		<div id="breadcrumps" class="grid_10 alpha">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li>
					<a href="/" title="Home">Documentation</a>
					</li>
				</ol>
			</nav>
		</div>
		<!-- Start: Main Content Area -->
		<div id="content" class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="card">
						<h5 class="card-header">Documentation Resources</h5>
						<div class="card-body">
						<ul class="list-unstyled mb-0">
							<li><a href="/#opensuse-doc">openSUSE</a></li>
							<li><a href="/#autoyast-doc">AutoYaST</a></li>
							<li><a href="/#kiwi-doc">KIWI 8</a></li>
						</ul>
						</div>
						<h5 class="card-header">Developer Documentation</h5>
						<div class="card-body">
						<ul class="list-unstyled mb-0">
							<li><a href="/#yast-doc">YaST</a></li>
							<li><a href="/#zypp-doc">Zypp</a></li>
							<li><a href="/#libyui-doc">Libyui</a></li>
						</ul>
						</div>
						<h5 class="card-header">Wiki</h5>
						<div class="card-body">
						<ul class="list-unstyled mb-0">
							<li><a href="https://en.opensuse.org/Portal:Documentation" rel="external">Documentation Portal on the Wiki</a></li>
							<li><a href="https://en.opensuse.org" rel="external">openSUSE Wiki</a></li>
						</ul>
						</div>
					</div>
					<div class=" box box-shadow navigation">
						<h2 class="box-header">External Documentation for openSUSE/SUSE Projects</h2>
						<ul class="navigation">
							<li><a href="http://openbuildservice.org/help/manuals">Open Build Service</a></li>
							<li><a href="http://open.qa/documentation/" rel="external">openQA</a></li>
							<li><a href="https://suse.github.io/kiwi/index.html">KIWI 9</a></li>
							<li><a href="http://snapper.io/documentation.html" rel="external">Snapper</a></li>
							<li><a href="http://port.us.org/documentation.html" rel="external">Portus</a></li>
							<!-- The YaST link appears on the main page again... Including it
								here anyway -->
							<li><a href="http://yast.opensuse.org/documentation" rel="external">YaST</a></li>
							<li><a href="http://machinery-project.org/docs/" rel="external">Machinery</a></li>
						</ul>
						<div class="box-footer">
						</div>
					</div>
					<div class="box box-shadow navigation">
						<h2 class="box-header">External Documentation for openSUSE/SUSE distributions</h2>
						<ul class="navigation">
							<li><a href="https://www.suse.com/documentation">SUSE Linux Enterprise</a></li>
							<li><a href="http://opensuse-guide.org" rel="external">openSUSE Guide</a></li>
							<li><a href="https://www.opensuse-lernen.de" rel="external">openSUSE-lernen.de (German-only)</a></li>
						</ul>
						<div class="box-footer">
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<!-- box header -->
					<div class="box-header grid_12"></div>
					<!-- End: box header -->
					<%CONTENT%>
					<!-- Note: this clears floating, set in previous elements -->
					<div class="clear"></div>
				</div>
			</div>
			<!-- End: Main Content Area -->
		</div>
		<!-- Start: Footer -->
		<footer class="global-footer">
			<div class="container">
				<div class="row">
					<div class="col-6 col-md-3">
						<h6>Developers</h6>
						<ul class="list-unstyled">
							<li><a href="https://en.opensuse.org/Portal:Development">Documentation</a></li>
								<li><a href="https://build.opensuse.org/">Build service</a></li>
							<li><a href="https://bugzilla.opensuse.org/">Bugzilla</a></li>
							<li><a href="https://github.com/openSUSE">Github</a></li>
							<li><a href="https://features.opensuse.org/">openFATE</a></li>
							<li><a href="https://susestudio.com/">SUSE Studio</a></li>
							</ul>
					</div>
					<div class="col-6 col-md-3">
						<h6>Information</h6>
						<ul class="list-unstyled">
							<li><a href="https://news.opensuse.org/">News</a></li>
							<li><a href="https://doc.opensuse.org/release-notes/">Release notes</a></li>
								<li><a href="https://events.opensuse.org/">Events</a></li>
							<li><a href="http://planet.opensuse.org/">Planet</a></li>
							<li><a href="https://shop.opensuse.org/">Shop</a></li>
						</ul>
					</div>
					<div class="col-6 col-md-3">
						<h6>Community</h6>
							<ul class="list-unstyled">
							<li><a href="https://forums.opensuse.org/">Forums</a></li>
							<li><a href="https://connect.opensuse.org/">Connect</a></li>
							<li><a href="https://www.facebook.com/groups/opensuseproject/">Facebook group</a></li>
							<li><a href="https://plus.google.com/communities/115444043324891769569">Google+ group</a></li>
							<li><a href="https://en.opensuse.org/openSUSE:Mailing_lists_subscription">Mail lists</a></li>
						<li><a href="https://en.opensuse.org/openSUSE:IRC_list">IRC channels</a></li>
					</ul>
				</div>
				<div class="col-6 col-md-3">
						<h6>Social Media</h6>
						<ul class="list-unstyled">
							<li><a href="https://www.facebook.com/en.openSUSE">Facebook</a></li>
							<li><a href="https://plus.google.com/+openSUSE">Google+</a></li>
							<li><a href="https://twitter.com/opensuse">Twitter</a></li>
							<li><a href="https://www.youtube.com/user/opensusetv">YouTube</a></li>
							<li><a href="https://t.me/opensusenews">Telegram</a></li>
						</ul>
					</div>
				</div>
					<div class="row">
					<div class="col-md-6">
						<p>
							&copy; 2010-<%YEAR%> SUSE LLC. All rights
							reserved. <a href="https://www.suse.com/company/legal/"
							rel="external">Legal information</a>.
						</p>
					</div>
				</div>
			</div>
		</footer>
		<!-- End: Footer -->
		
		<!--  end of content div -->
	</body>
</html>
